#LaTeX
*.aux 
*.bit 
*.blg 
*.bbl 
*.lof 
*.log 
*.lot 
*.glo 
*.glx 
*.gxg 
*.gxs 
*.idx 
*.ilg 
*.ind 
*.out 
*.url 
*.svn 
*.toc

main.pdf
main.synctex.gz
main.run.xml
main-blx.bib
*.bcf

# IDE
/deep_groove_project/.idea/

# Python
/deep_groove_project/venv/
/deep_groove_project/__pycache__/
*.pyc

# Datafolder
**/data/*