#LaTeX

*.aux 
*.bit 
*.blg 
*.bbl 
*.lof 
*.log 
*.lot 
*.glo 
*.glx 
*.gxg 
*.gxs 
*.idx 
*.ilg 
*.ind 
*.out 
*.url 
*.svn 
*.toc


main.pdf
main.synctex.gz
main.run.xml
main-blx.bib
*.bcf

#pytorch data folder

/doc/