autoPyTorch==0.0.2
certifi==2022.12.7
charset-normalizer==2.1.1
ConfigSpace==0.6.1
contourpy==1.0.7
cycler==0.11.0
Cython==0.29.34
fasteners==0.18
filelock==3.9.0
fonttools==4.39.3
hpbandster==0.7.4
idna==3.4
imbalanced-learn==0.10.1
imblearn==0.0
Jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.4
liac-arff==2.5.0
MarkupSafe==2.1.2
matplotlib==3.7.1
minio==7.1.14
more-itertools==9.1.0
mpmath==1.2.1
netifaces==0.11.0
networkx==3.0
numpy==1.24.1
openml==0.13.1
packaging==23.1
pandas==2.0.0
patsy==0.5.3
Pillow==9.3.0
protobuf==4.22.3
psutil==5.9.4
pyarrow==11.0.0
pynisher==1.0.5
pyparsing==3.0.9
Pyro4==4.82
python-dateutil==2.8.2
pytz==2023.3
pywin32==306
requests==2.28.1
scikit-learn==1.2.2
scipy==1.10.1
serpent==1.41
six==1.16.0
statsmodels==0.13.5
sympy==1.11.1
tensorboard-logger==0.1.0
threadpoolctl==3.1.0
torch==2.0.0
torchaudio==2.0.1
torchvision==0.15.1
typing_extensions==4.4.0
tzdata==2023.3
urllib3==1.26.13
xmltodict==0.13.0
# Requirments fron Auto-PyTorch Repository
pandas
torch>=1.10.1
torchvision
tensorboard
scikit-learn>=0.24.0,<0.25.0
numpy
scipy>=1.7
lockfile
imgaug>=0.4.0
ConfigSpace>=0.5.0
pynisher>=0.6.3
pyrfr>=0.7,<0.9
smac>=1.2
dask
distributed>=2.2.0
catboost
lightgbm
flaky
tabulate